<div class="model-login" >
    <div>
        <i class="fa fa-close icon-close"></i>
        <div class="login-title" > <b> Idel </b> </div>
        <div class="model-input-table">
            <div class="btn-group mb-10">
                <a href="javascript:;" id="btPause" class="btn btn-outline-secondary">Pause</a>
                <a href="javascript:;" id="btResume" class="btn btn-outline-secondary">Resume</a>
                <a href="javascript:;" id="btElapsed" class="btn btn-outline-secondary">Elapsed</a>
                <a href="javascript:;" id="btInit" class="btn btn-outline-secondary">Init</a>
                <a href="javascript:;" id="btDestroy" class="btn btn-outline-secondary">Destroy</a>
            </div>
            <textarea rows="10" cols="30" id="docStatus" class="form-control"></textarea><br />
        </div>
    </div>
</div>